<div class="card my-3">
    {{with .Page.Resources.GetMatch "logo"}}
    <img class="card-img-top img-fluid p-3" src="{{.RelPermalink}}" alt="{{.Title}} logo">
    {{end}}
    <div class="card-body">
        <h5 class="card-title">{{.Title}}</h5>
        <p class="card-text">{{.Content}}</p>
        <!--<a href="{{.Params.link}}" class="btn btn-primary">Link to website</a>-->
    </div>
</div>