{{partial "head.html" .}}

{{$start:=time .Params.start}}
{{$end:=$start.Add (duration "minute" .Params.duration)}}

<h1>{{$start.Format "3:04PM" }}&ndash;{{$end.Format "3:04PM"}}: <a href="{{.Permalink}}">{{.Title}}{{with .Params.talk}} &mdash; {{.}}{{end}}</a></h1>

{{with .Params.location}}<h2>Location: {{.}}</h2>{{end}}

{{.Content}}

{{partial "footer.html" .}}