{{if .Params.author}}
{{$member := .Site.GetPage "members" .Params.author}}
{{if $member}}
<i>by: <a href="{{$member.Permalink}}">{{$member.Params.nick}} ({{$member.Title}})</a></i>
{{else}}
<i>by: {{.Params.author}}</i>
{{end}}
{{end}}